{% extends 'base_generic.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="auth-container">
    <h2>Login</h2>
    <form method="post" class="auth-form">
        {% csrf_token %}
        <label for="id_username">Usuário</label>
        {{ form.username }}

        <label for="id_password">Senha</label>
        {{ form.password }}

        <button type="submit" class="auth-btn">Entrar</button>
    </form>
    <div class="auth-link">
        Não tem uma conta? <a href="{% url 'signup' %}">Registre-se</a>
    </div>
</div>
{% endblock %}